.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  background-color: rgb(208, 232, 240);
  font-family: "Raleway", sans-serif;
} 

#topbar{

left: 0;
  top: 0;
  position: fixed ;

  width: 100%;
  position: fixed;
  background-color: white;
  padding: 16px 50px;
  
  
}

#sub-text{

  font-size: 1.3em;
  font-weight: 500;
  font-style: italic;
  color: black;
  margin: 0;

}

#logo{

  color: #0048ff;
  font-weight: 900;
  font-size: 32px;
  margin: 0;
}

.topbar-item{
  display: inline-block;
  align-items: center;  
    
}

#menu-item{

  padding-left: 150px;

  
}

#menu-item:hover{

  cursor: pointer;
  color: grey
}

#main-container{

  width: 100%;
  max-width: 990px;
  margin: 2% auto;
  margin-top: 10%;
  padding-top: 16px;

} 

#categories-section {

  width: 100%;
  max-width: 990px;
  margin: 2% auto;

}

.item_btn{

  color: #0084ff;
  border: 1px solid #0084ff;
  border-radius: 30px;
  padding: 6px 14px;
  display: inline-block;
  margin:5px;
  background-color: rgb(208, 232, 240);
}

.item_btnSel{

  background-color: #0084ff;
  color: white;
  border: 1px solid #0084ff;
  border-radius: 30px;
  padding: 6px 14px;
  display: inline-block;
  margin:5px;
}


#blog-grid{

  max-width: 100%;
  max-width: 990px;
  margin: 2% auto;
  margin-bottom: 20px;


}

.blog-card{

   vertical-align: top;
  display: inline-block;
  width: calc(33% - 33px);
  background-color: white;
  margin: 8px;
  border-radius: 5px;
  border:  solid rgba(0,168,255,.3);
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
  

}

.thumbnail{

  width: 100%;
  height: 174px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.blog-meta{

  padding: 16px;
}

.blog-title{

  font-size: 20;
  font-weight: 600;
  margin: 0;
  max-height: 50px;
  overflow: hidden;

}

.channel-name{

  color: #0096ff;
  font-weight: 500;
  font-size: 14.4px;

}

.date{

  font-size: 14px;
  font-weight: 300;
  font-family: "roboto", sans-serif;
}

.description{

height: 96px;
color: rgba(0,0,0,.5);
font-size: 14px;
font-weight: 400;
margin: 0;
overflow: hidden;
}

#bottom-bar{

  padding: 80px 16%;
  background-color:#172146;
}



.Footer__Footer__2T3w3 {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #172746;
    padding: 40px 8%;
    -webkit-box-shadow: 0 -2px 0 0 rgba(0,0,0,.1);
    box-shadow: 0 -2px 0 0 rgba(0,0,0,.1);
    color: #fff;
}

.Footer__Row__2Koch {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: start;
}

.Footer__Column__1mRXM, .Footer__InnerLeftLinks__SCE7b {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.Footer__ColumnHeading__sK9kQ {
  margin-bottom: 0;
  color: hsla(0,0%,100%,.5);
  font-weight: 500;
}

.Footer__Column__1mRXM a {
  cursor: pointer;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 4px 0;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}





@media (min-width: 768px){

  .Footer__Footer__2T3w3 {
    background-color: #172146;
    padding: 80px 16%;
    color: #fff;
}


.Footer__Row__2Koch {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.Footer__Column__1mRXM {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 0;
  margin-top: 0;
}

.Footer__Column__1mRXM {
  margin-right: 0;
  font-size: 13px;
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: .3px;
  text-align: left;
  color: #fff;
  margin-top: 0;
}


.Footer__ColumnHeading__sK9kQ {
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 1em;
}

.Footer__Column__1mRXM a {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
}

}